@use '../vars' as *;

.ltopbar {
  top: 0;
  left: 0;
  background: $grey_200;
  width: calc(100% - 1.5rem);
  min-height: 6vh;
  height: fit-content;
  max-height: 14vh;
  padding: .25rem .75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &.fixed {
    position: fixed;
  }

  &.absolute {
    position: absolute;
  }

  &.floating {
    top: 2vh;
    left: 2.5vw;
    width: 95vw;
    border-radius: $border-radius;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .75rem;
    padding: 0;
  }
}